### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
student_data_to_load = "Resources/students_complete.csv"
school_data_to_load = "Resources/schools_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
student_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
student_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_total= school_data['School ID'].count()
student_total= len(student_data['Student ID'])
budget_total = school_data['budget'].sum()
Avg_math_score= student_data['math_score'].mean()
Avg_reading_score = student_data['reading_score'].mean()
overall_passing_rate= (Avg_math_score + Avg_reading_score)/2
totalStu= student_data['Student ID'].count()
reading = sum(student_data['reading_score'] >69)

Passing_reading = reading /totalStu *100
math =   sum(student_data['math_score'] >69 )                  
Passing_math = math / totalStu *100
data = {'Total Schools':[student_total],
        'Total Students':[school_total], 
        'Total Budget':[budget_total], 
        'Average Math Score':[Avg_math_score],
        'Average Reading Score': [Avg_reading_score],
        '% Passing Math':[Passing_math],
       '% Passing Reading':[Passing_reading],
       '% Overall Passing Rate':[overall_passing_rate]}
school_df = pd.DataFrame(data)
school_df
#print(school_total, student_total, budget_total, Avg_math_score, Avg_reading_score

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,39170,15,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

In [11]:
grouped_df = student_data_complete.groupby("school_name")

school_summary = pd.DataFrame({"School Name":school_data["school_name"], 
                              "School Type":school_data["type"],
                              "Total Budget":school_data["budget"]})
school_summary= school_summary.set_index("School Name")
school_summary = school_summary.sort_values("School Name")

school_summary["Total Students"]= grouped_df["student_name"].count()
total_stu= school_summary["Total Students"]
school_summary["Per Student Budget"] = school_summary["Total Budget"]/school_summary["Total Students"]
school_summary["Average Reading Score"] = grouped_df["reading_score"].mean()
school_summary["Average Math Score"] = grouped_df["math_score"].mean()

student_count= student_data_complete["Student ID"].count()
student_data_complete['Total Students'] = student_count

math_score = student_data[(student_data['math_score'] >=70)]
reading_score = student_data([student_data['reading_score'] >= 70])
math_score = sum(student_data['math_score'] >= 70)
reading_score = sum(student_data['reading_score'] >= 70)

school_summary["% Passing Reading"] = reading_score/ total_stu *100
school_summary["% Passing Math"] = math_score/ total_stu *100
school_summary["% Overall Passing Rate"] =school_summary["% Passing Math"] + school_summary["% Passing Reading"] /2

school_summary.head()

,School Type,Total Budget,Total Students,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing Rate
School Name,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,81.033963,77.048432,675.442122,NaN,NaN
Cabrera High School,Charter,1081356,1858,582.0,83.975780,83.061895,1808.934338,NaN,NaN
Figueroa High School,District,1884411,2949,639.0,81.158020,76.711767,1139.708376,NaN,NaN
Ford High School,District,1763916,2739,644.0,80.746258,77.102592,1227.090179,NaN,NaN
Griffin High School,Charter,917500,1468,625.0,83.816757,83.351499,2289.509537,NaN,NaN

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:

top_perf_rate =school_summary.sort_values(by=['% Overall Passing Rate'], ascending=False)

top_perf_rate.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
bottom_perf_rate =school_summary.sort_values(by=['% Overall Passing Rate'], ascending=True)

bottom_perf_rate.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
math_scores_by_grade = pd.pivot_table(student_data, values=['math_score'], index=['school_name'], 
                                       columns=['grade'])


#math_scores_by_grade_re = math_scores_by_grade.reindex_axis(labels= ['9th','10th','11th','12th'], axis=1, level=1)


math_scores_by_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
read_scores_by_grade = pd.pivot_table(student_data, values=['reading_score'], index=['school_name'], 
                                         columns=['grade'])
#read_scores_by_grade = read_scores_by_grade.reindex_axis(labels=['9th','10th','11th','12th'], axis=1, level=1)

read_scores_by_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
scores_spending=school_summary.copy()
bins_spending = pd.cut(scores_spending['Per Student Budget'], spending_bins, labels=group_names)
bins_spending = pd.DataFrame(bins_spending)
school_summary['Spending Level'] = bins_spending
scores_spending = school_summary.groupby(['Spending Level'])['Average Reading Score',
                                                         'Average Math Score',
                                                         '% Passing Reading',
                                                         '% Passing Math',
                                                         '% Overall Passing Rate'
                                                         ].mean()

scores_spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

In [ ]:
scores_size=school_summary.copy()
bins_school = pd.cut(scores_size['Total Students'], size_bins, labels = group_names)
bins_school = pd.DataFrame(bins_school)
school_summary['School Population'] = bins_school
scores_size = school_summary.groupby(['School Population','School Name'])['Average Reading Score',
                                                         'Average Math Score',
                                                         '% Passing Reading',
                                                         '% Passing Math',
                                                         '% Overall Passing Rate'
                                                         ].mean()
scores_size

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
school_type = school_summary.copy()

In [ ]:
scores_type = pd.DataFrame(scores_type)

In [ ]:
scores_type = school_summary.groupby(['School Type'])['Average Reading Score',
                                                         'Average Math Score',
                                                         '% Passing Reading',
                                                         '% Passing Math',
                                                         '% Overall Passing Rate'
                                                         ].mean()
scores_type